@{
   ViewBag.Title = "Người Xét Duyệt";   
}

<div class="row">
   <div class="ms-3 mt-4">
      <h3 class="mb-0 h4 font-weight-bolder">Chức năng</h3>
      <p class="mb-4">
         Các chức năng chính của người Xét Duyệt.
      </p>
   </div>
   <div class="container mt-4">
      <div class="row g-4">
         <div class="col-md-3">
            <div class="card text-center shadow-lg p-4 border-0">
               <div class="card-body">
                  <i class="fas fa-user-graduate fa-3x text-primary"></i>
                  <h5 class="card-title mt-3 fw-bold">Sinh Viên</h5>
                  <p class="card-text text-muted">Quản lý thông tin sinh viên.</p>
                  <a href="/sinhvien/index" class="btn btn-outline-primary">Xem chi tiết</a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center shadow-lg p-4 border-0">
               <div class="card-body">
                  <i class="fas fa-user-check fa-3x text-success"></i>
                  <h5 class="card-title mt-3 fw-bold">Người Xét Duyệt</h5>
                  <p class="card-text text-muted">Danh sách người xét duyệt.</p>
                  <a href="/nguoixetduyet/index" class="btn btn-outline-success">Xem chi tiết</a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center shadow-lg p-4 border-0">
               <div class="card-body">
                  <i class="fas fa-book fa-3x text-warning"></i>
                  <h5 class="card-title mt-3 fw-bold">Tiêu Chí</h5>
                  <p class="card-text text-muted">Danh sách tiêu chí đánh giá.</p>
                        <a href="/tieuchi/thongtintieuchi" class="btn btn-outline-warning">Xem chi tiết</a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="card text-center shadow-lg p-4 border-0">
               <div class="card-body">
                  <i class="fas fa-chart-line fa-3x text-danger"></i>
                  <h5 class="card-title mt-3 fw-bold">Thống Kê</h5>
                  <p class="card-text text-muted">Xem báo cáo và thống kê.</p>
                  <a href="/thongke/index" class="btn btn-outline-danger">Xem chi tiết</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>